
@{
    ViewData["Title"] = "GetPlanetByName";
}
@model PlanetList

<h1>Get Planet By Url</h1>

<form action="/SW/ResultPlanetName" method="post">
    <select name="nameURL">
        @{
            foreach (var item in Model.results)
            {
                <option value="@item.url">@item.name</option>
            }
        }
    </select>

    <input type="submit" value="Search" />
</form>