
@{
    ViewData["Title"] = "Index";
}

<h1>Choose</h1>
<h1></h1>

<form action="/SW/ResultPlanetIndex" method="post">
    Planet Index <input type="number" name="index" value="index" />
    
    <input type="submit" value="Search" />
</form>
<form action="/SW/ResultPersonIndex" method="post">
    Person Index <input type="number" name="index" value="index" />
   
    <input type="submit" value="Search" />
</form>
